@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, 100%, 0);
        transform: translate3d(-50%, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-50%, -100%, 0);
        transform: translate3d(-50% -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

/* 设置ButtonGroup的阴影 */
#functionButtonGroupDiv {
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, .2);
}

/* 距离测量按钮样式 */
#measurementLengthButton {
    background-color: #00adee;
    border: none;
    margin-right: 5px;
}

/* 距离测量图标样式 */
.el-icon-measurement-length {
    background: url("../../assets/images/length_measurement.png") center no-repeat;
    background-size: cover;
}
.el-icon-measurement-length:before{
    content: "替";
    font-size: 18px;
    visibility: hidden;
}

/* 面积测量按钮样式 */
#measurementAreaButton {
    background-color: #ea671f;
    border: none;
    margin-right: 5px;
}

/* 面积测量图标样式 */
.el-icon-measurement-area {
    background: url("../../assets/images/area_measurement.png") center no-repeat;
    background-size: cover;
}
.el-icon-measurement-area:before{
    content: "替";
    font-size: 18px;
    visibility: hidden;
}

/* 框选查询按钮样式 */
#frameSelectionButton {
    background-color: #00a54e;
    border: none;
    margin-right: 5px;
}

/* 框选查询图标样式 */
.el-icon-frame-selection {
    background: url("../../assets/images/frame-selection.png") center no-repeat;
    background-size: cover;
}
.el-icon-frame-selection:before{
    content: "替";
    font-size: 18px;
    visibility: hidden;
}

/* 区域查询按钮样式 */
#regionalQueryButton {
    background-color: #967857;
    border: none;
    margin-right: 5px;
}

/* 区域查询图标样式 */
.el-icon-regional-query {
    background: url("../../assets/images/regional_query.png") center no-repeat;
    background-size: cover;
}
.el-icon-regional-query:before{
    content: "替";
    font-size: 18px;
    visibility: hidden;
}

/* 打印查询按钮样式 */
#printButton {
    background-color: #717173;
    border: none;
    margin-right: 5px;
}

/* 区域查询图标样式 */
.el-icon-print {
    background: url("../../assets/images/print.png") center no-repeat;
    background-size: cover;
}
.el-icon-print:before{
    content: "替";
    font-size: 18px;
    visibility: hidden;
}

/* 上传文件按钮样式 */
#uploadButton {
    background-color: #3b8fc4;
    border: none;
}

/* 上传文件图标样式 */
.el-icon-upload {
    background: url("../../assets/images/upload.png") center no-repeat;
    background-size: cover;
}
.el-icon-upload:before{
    content: "替";
    font-size: 18px;
    visibility: hidden;
}